#contact{
    position: relative;
    height: 85vh;
    background-color: $bg-color;

    svg{
        position: absolute;
        top: 0;
    }

    .contact-message{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-left: 2.5rem;
        max-width: 40vw;
        height: 100%;
        h2{
            padding-top: 10vh;
            font-size: 5rem;
        }
        p{
            font-size: 20px;
        }
    }
    
}
footer{
    background-color: $bg-color;
    opacity: 0.5;
}