@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Comfortaa:wght@400;500;700&family=Lato:wght@100;300;400;700;900&family=Manrope:wght@200;400;500;700&display=swap');
/* 
font-family: 'Comfortaa', cursive; font-weight: 400 - 500 - 700;
font-family: 'Lato', sans-serif; font-weight: 100 - 300 - 400 - 700 - 900;
font-family: 'Manrope', sans-serif; font-weight: 200 - 400 - 500 - 700;
font-family: 'Arvo', serif;

*/

// COLORES PRINCIPALES 
$bg-color:#FAEDCD;
// fefae0
$bg-color2: #CCD5AE;
$bg-color3: #D4A373;

$txt-color: #373F47; 

@import 'home.scss';
@import 'about.scss';
@import 'services.scss';
@import 'pricing.scss';
@import 'contact.scss';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $bg-color;
    font-family: 'lato', sans-serif;
}
.container-header, .header, .header-post-scroll{
    
    position: sticky;
    top: 0;
    z-index: 100;

    transition: 0.3s ease;
    #header{
        display: flex;
        justify-content: space-between;
        /* 
        display: grid;
        grid-template-columns: repeat(2, 1fr); */
        width: 90vw;
        margin: 0 auto;
        
        height: 8vh;
        color: $txt-color;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        font-size: 2vh;
    
        transition: .3s ease;
    
        .title{
            display: flex;
            align-items: center;
            justify-content: left;
            padding: 0 5px;
            font-family: 'Arvo', serif;
    
            .makers-header{
                font-size: 16px;
                padding-left: 0.2rem;
            }
        }
    
        .list{
            display: flex;
            font-family: 'Manrope', sans-serif;
            font-size: 16px;
            font-weight: 700;
            list-style: none;
            display: flex;
            flex-direction: row;
            // padding: 0 15px;
            align-items: center;
            gap: 3vh;
    
            li a{
        
                position: relative;
                text-decoration: none;
                color: $txt-color;
                
            }
            li a::after{
                content: "";
                display: flex;
                position: absolute;
                background: #000;
                opacity: 0.3;
                height: 1px;
                width: 100%;
                border-radius: 1px;
                left: 2px;
                bottom: -5px;
                transform: scale(0, 1);
                transition: transform 0.3s ease;
            }
            li a:hover::after{
                transform: scale(1, 1);
            }
        }
    }

    
}
.header-post-scroll{
    background-color: $bg-color2;
    
}



section{

    .title-section{
        font-family: 'Manrope', sans-serif;
        color: $txt-color;
    }
}
